
<button class= "btn btn-info" {{action "show"}}>Leave Review</button>
{{#if showRating}}
<form>
{{input value=stars id="stars"}}
<!-- <select value = stars class="form-control" id="stars">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
</select> -->
<button class = "btn btn-info"{{action "saveRating"}}>Save</button>
</form>
{{/if}}
